<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/form.css">
    <script src="/static/js/script.js"></script>
</head>
<body>
    <form action="" id="form">
        <label for="name">Fullname</label>
        <input type="text" name="name" id="name" placeholder="Name">
        <label for="time">Timestamp</label>
        <input type="time" name="time" id="time" >
        <label for="text">Any text</label>
        <textarea name="text" id="text" cols="30" rows="10" placeholder="Any text"></textarea>
        <input type="submit" value="Submit">
    </form>
</body>
</html>