<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red App</title>
    <script src="/static/js/script.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Welcome to the Red App</h1>
    <h2>What would you like to do?</h2>
    <div id="list-div">
        <ul>
            <li><h3><button onclick="getIp()">check blue IP</button></h3></li>
            <li><h3><button onclick="saveData()">save data</button></h3></li>
            <li><h3><button onclick="saveVolume()">save data permanently</button></h3></li>
            <li><h3><button onclick="saveDB()">store data in DB</button></h3></li>
        </ul>
    </div>
</body>
</html>